<view-import-orders
    [onSearchOrder]="onSearchOrder"
    [onSearchProduct]="onSearchProduct"
    [tableData]="filtratedOrdersCollection"
    [ordersColumns]="ordersColumns"
    [onBackButtonClick]="onBackStep"
    [onNextButtonClick]="onNextStep"
    [onOrderClick]="onOrderClick"
    [onProductClick]="onProductClick"
    [productFilterValue]="productFilterValue"
    [productsColumns]="productsColumns"
    [productTableData]="filtratedProductsCollection"
    [selectedProduct]="selectedProduct"
    [showButtons]="showButtons"
    [showNextButton]="showNextButton"
    [disabledNextButton]="disabledNextButton"
    [productTypesCollection]="productTypesCollection"
    [prepareProductsChange]="prepareProductsChange"
    [selectedProductTypes]="selectedProductTypes"
    [showFinishButton]="showFinishButton"
    [onFinishButtonClick]="onFinishButtonClick"
    [chipsContent]="chipsContent"
    #viewImportOrders
></view-import-orders>