p {
  font-family: Lato;
}
.container {
  width: 100%
}
.page-router {
  width: 100%;
  padding: 20px;
}

/*this is for disable step header i ui*/
::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/