<div class="wrapper">
    <mat-horizontal-stepper [linear] = "true" #stepper>
        <mat-step>
            <ng-template matStepLabel>Select order</ng-template>
            <ui-chips-list [list]="chipsContent"></ui-chips-list>
            <view-select-order
                [onSearchOrder]="onSearchOrder"
                [tableData]="tableData"
                [ordersColumns]="ordersColumns"
                [onOrderClick]="onOrderClick"
                >
            </view-select-order>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Select product</ng-template>
            <ui-chips-list [list]="chipsContent"></ui-chips-list>
            <view-select-product
                [onProductClick]="onProductClick"
                [productsColumns]="productsColumns"
                [onSearchProduct]="onSearchProduct"
                [productTableData]="productTableData"
                [onNextButtonClick]="onNextButtonClick"
            >
            </view-select-product>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Prepare products</ng-template>
            <ui-chips-list [list]="chipsContent"></ui-chips-list>
            <view-prepare-product
                    [selectedProduct]="selectedProduct"
                    [productsColumns]="productsColumns"
                    [productTypesCollection]="productTypesCollection"
                    [prepareProductsChange]="prepareProductsChange"
            >
            </view-prepare-product>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Confirm Order</ng-template>
            <ui-chips-list [list]="chipsContent"></ui-chips-list>
            <view-confirm-order
                    [selectedProductTypes]="selectedProductTypes"
            ></view-confirm-order>
        </mat-step>
    </mat-horizontal-stepper>
    <div *ngIf="showButtons" class="buttons">
        <ui-button [text]="backButtonText" (onClick)="onBackButtonClick()"></ui-button>
        <ui-button *ngIf="showNextButton" [disabled]="disabledNextButton" [text]="nextButtonText" (onClick)="onNextButtonClick()"></ui-button>
        <ui-button *ngIf="showFinishButton" [text]="finishButtonText" (onClick)="onFinishButtonClick()"></ui-button>
    </div>
</div>